---
import Socials from './Socials.astro'; // We'll remove this
const today = new Date();
---

<footer>
	<div class="copyright">
		&copy; {today.getFullYear()} Lenihan Landscaping. All rights reserved.
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em;
		text-align: center;
		color: #777; /* Softer grey text */
		font-size: 0.9em;
		background-color: #f9f9f9; /* Light grey background */
		border-top: 1px solid #eee;
	}
	.copyright {
		margin: 0;
	}
</style>