---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<!-- This can be changed in src/consts.ts -->
		<h2><a href="/">{SITE_TITLE}</a></h2> 
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/services">Services</HeaderLink>
			<HeaderLink href="/portfolio">Portfolio</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
		</div>
	</nav>
</header>
<style>
	/* These styles are from our previous work */
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	h2 {
		margin: 0;
		font-size: 1.5em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
		color: #228b22; /* Garden green */
	}

	.internal-links {
		display: flex;
		gap: 1em;
	}
</style>